.app-header {
    background-color: var(--clr1);
    color: var(--clr2bg-light);
    
}

.header-container {
    display: flex;
    align-items: center;

}

.header-container h1 {
    flex-grow: 1;
}

.app-nav {
    display: flex;
    gap: 15px;
}


a.active {
    color: rgb(241, 212, 241);
    font-weight: 600;
    text-decoration: underline;
}


.Progress {
    display: flex;
    margin-right: 10px;
    background-color: antiquewhite;
    width: 200px;
    height: 25px;
    border: 2px solid antiquewhite;
    border-radius: 5px; 
}

.Progress-bar {
    background-color: rgb(20, 117, 78);
    width: 150px; 
    height: 100%; 
    border-radius: 5px; 
}


@media (max-width: 720px) {
    .app-header {
        color: var(--clr2bg-light);
    }
}
